.dropDownDepartment {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
    width: 280px;
    height: 48px;
    border: 1px solid #E3E8EE;
    cursor: pointer;
}

.dropDownDepartmentTitle {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.200025px;
    color: #C2C2C2;
}
.activeDepartment {
    color: #000;
}

.listMenu {
    max-height: 200px; 
    overflow-y: auto; 
    position: absolute;
    border: 1px solid #c2c2c2;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: all 0.3s;
}

.listMenuForm {
    color: #5E626B;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 25px;
    gap: 12px;
    width: 258px;
    background: #FFFFFF;
    order: 0;
    align-self: stretch;
    & .formInput{
        margin-right: 10px;
    }
}

.listMenu.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

