@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');



.wrapper {
    max-width: 1240px;
    max-height: 768px;
    margin: 80px 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 80px 80px;
    gap: 80px;
    background: #FFFFFF;
    border: 1px solid #000000;

    & .btnBlock {
        align-self: flex-end;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;

        & .btnUndo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 48px;
            padding: 14px 32.5px;
            border: 1px solid #C4C4C4;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: #000000;
        }

        & .btnUndo:hover {
            color: #c4c4c4;
        }

        & .btnSave {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 14px 84px;
            width: 200px;
            height: 48px;
            border: 1px solid #C4C4C4;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: #000000;
        }
        & .btnSave:hover {
            color: #c4c4c4;
        }
    }
}

.title {
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: 6px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.formUsers {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 4px;

    & .labelUser {
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        align-items: center;
        letter-spacing: 0.2px;

        color: #5E626B;
    }

    & .users {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 12px 8px 24px;
        gap: 12px;
        width: 500px;
        height: 48px;
        background: #FFFFFF;
        border: 1px solid #E3E8EE;

        & option {
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: #5E626B;
        }
    }
}

.userInfoWrapper {
    max-width: 1240px;
    align-self: flex-start;

    .userInfo {
        width: 1080px;
        margin-top: 40px;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 80px;
        row-gap: 40px;

        & form {
            max-width: 500px;
            max-height: 72px;
            display: flex;
            flex-direction: column;

            & label {
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.200025px;
                color: #5E626B;
            }

            & select {
                padding: 8px 12px 8px 24px;
                background: #FFFFFF;
                border: 1px solid #E3E8EE;
            }

            & input {
                padding: 8px 12px 8px 24px;
                background: #FFFFFF;
                border: 1px solid #E3E8EE;
            }
        }
    }

    .userInfoTitle {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.2px;
        color: #000000;
    }
}