@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

.userDataWrapper {
    margin: 80px 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 80px 80px;
    width: 1240px;
    max-width: 1400px;
    height: 100wh;
    background: #FFFFFF;
    border: 1px solid #000000;

    & .userDataTitle {
        font-family: 'Karla';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        display: flex;
        letter-spacing: 6px;
        color: #000000;
        text-transform: uppercase;
    }

    & .userDataText {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        align-self: flex-start;
        letter-spacing: 0.200025px;
        color: #1B2438;
        margin-top: 40px;
    }


}
.userDataWrapper.activeted {
    background-color:rgba(200, 200, 200, 0.4);
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.dropDownMenu {
    width: 1080px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    margin-top: 12px;
}

.usersList {
    width: 1080px;

    text-align: left;
    margin-top: 40px;
    border: 1px solid #E3E8EE;
    border-collapse: collapse;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;

    color: #000000;
}

.usersList th,
.usersList td {
    padding: 20px 32px;
    border: 1px solid #E3E8EE;
    border-left: none;
    border-right: none;
}

.usersList td {
    border: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.200025px;
    color: #5E626B;
}

.basket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 48px;
    height: 48px;
    border: 1px solid #C4C4C4;
    transition: all 0.3s;

}


.basket:hover{
    background: #C4C4C4;
    color: #000000; 
}

.popUpAddUser {
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 48px;
    border: 1px solid #C4C4C4;
    margin-left: auto;
    cursor: pointer;
    transition: all 0.3s;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.200025px;

    color: #C4C4C4;
}

.popUpAddUser:hover {
    background: #C4C4C4;
    color: #000000;
}
.popWrapper {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.popWrapper.active {
    z-index: 2;
    margin: auto;
    /* position: absolute; */
    /* width: 100vw;
    height: 200vh; */
    /* top: 0;
    left: 0; */
    opacity: 1;
    visibility: visible;
    background: rgb(0, 0, 0, 0.4);
}